$smartphone: "only screen and (max-width: 767px)";
$desktop: "only screen and (min-width: 768px)";

$theme_color : #FFB76F;
$base_color: #FFE9BE;
$sub_color: #23DFDF;
$accent_color: #FFB6B6;
$white_color: #FFFFFF;
$black_color: #000000;
$inactive_color: #D9D9D9;
$opacity_color: rgba(200, 200, 200, .5);

$theme_font_family: 'JetBrains Mono';

$size_xl: 50px;
$size_xxl: 70px;
$size_3l: 100px;
$size_4l: 160px;
$size_5l: 210px;
$size_6l: 260px;

$font_size_6l: 3.4rem;
$font_size_5l: 2.4rem;
$font_size_4l: 2rem;
$font_size_3l: 1.6rem;
$font_size_xxl: 1rem;
$font_size_xl: 0.8rem;
$font_size_l: 0.5rem;
$font_size_m: 0.2rem;
$font_size_s: 0.05rem;

$space_size_5l: 60px;
$space_size_4l: 40px;
$space_size_3l: 33px;
$space_size_xxl: 27px;
$space_size_xl: 20px;
$space_size_l: 13px;
$space_size_m: 7px;
$space_size_s: 3px;
$persent_half: 50%;
$persent_full: 100%;
$smartphone_width: 390px;

html, body {
    width: 100%;
}

.wrapper {
    background: $base_color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (min-width: 768px) {
        width: $persent_half;
        margin: 0 auto;
    }
}
a {
    color: $sub_color;
}

.button {
    font-size: $font_size_xl;
    font-weight: bold;
    padding: $space_size_m $space_size_l;
    border-radius: $space_size_m;
    box-shadow: 1px 1px 2px 1px $opacity_color;
    &-success {
        color: $white_color;
        background: $sub_color;
    }
    &-danger {
        color: $white_color;
        background: $accent_color;
    }
    &-large {
        font-size: $font_size_xxl;
    }
    &-cancel {
        color: $accent_color;
        border: 4px solid $accent_color;
        box-sizing: border-box;
    }
}
.text {
    &-primary {
        color: $theme_color;
    }
    &-success {
        color: $sub_color;
    }
    &-center { 
        text-align: center;
    }
}


.badge {
    display: inline-block;
    height: $space_size_xl;
    padding: $space_size_s;
    font-size: $font_size_l;
    font-weight: bold;
    background: $white_color;
    letter-spacing: -1.2px;
}
.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    position: fixed;
    background: $white_color;
    padding: $space_size_3l $space_size_l $space_size_l;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // TODO::すごい無根拠な数字だから直そう。
    z-index: 30;
    .logo{
        font-weight: bold;
        font-size: $font_size_3l;
        font-family: $theme_font_family;
        &-link {
            color: $theme_color;
        }
    }
    
    .header-right-part{
        display: flex;
        align-items: center;
        .user-icon-frame{
            width: $space_size_3l;
            height: $space_size_3l;
            border-radius: $space_size_3l;
            background: $inactive_color;
            margin-right: $space_size_4l;
            box-shadow: 0px 0px 2px 0px $opacity_color inset;
        }
        .hamburger {
            position: relative;
            bottom: 15px;
            span {
                width: $space_size_3l;
                height: 3px;
                border-radius: 2px;
                background-color: $theme_color;
                position: absolute;
                right: 0px;
                transition: all .4s;
                z-index: 100;
                &:nth-of-type(1) {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 10px;
                }
                &:nth-of-type(3) {
                    top: 20px;
                }
            }
            &.active span {
                &:nth-of-type(1) {
                  transform: translateY(8px) rotate(-43deg);
                }
                &:nth-of-type(2) {
                  opacity: 0;
                }
                &:nth-of-type(3) {
                  transform: translateY(-12px) rotate(43deg);
                }
            }
            
            
            .menu-notation {
            letter-spacing: -1.2px;
            position: absolute;
            width: 3rem;
            right: -6px;
            top: 24px;
            text-align: center;
            font-weight: bold;
            font-size: $font_size_s;
            color: $theme_color;
            }
        }
    }
    .nav-menu {
        display: block;
        position: absolute;
        top: 0;
        right: -100%;
        background: rgba(255, 255, 255, .85);
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        transition: .5s;
        &.active {
          transition: .5s;
          transform: translateX(-100%);
          z-index: 2;
        }
        .menu {
            display: block;
            font-size: $font_size_3l;
            width: 100%;
            &-link {
                -webkit-font-smoothing: initial;
                display: block;
                padding: $space_size_l;
                text-align: center;
            }
            &-item {
                margin-right: initial;
            }
            &-link {
                -webkit-font-smoothing: initial;
            }   
        }
    }
}

.main-container {
    margin-top: $size_3l;
    padding: 0 $space_size_l;
}
.user-beat-list-holder {
    margin-top: $space_size_l;
}

.beat-list-item{
    margin-bottom: $space_size_l;
    height: $size_3l;
    background: $white_color;
    border-radius: $space_size_m;
    box-shadow: 2px 2px 4px 2px $opacity_color;
    display: flex;
    .beat-left-side {
        min-width: $size_3l;
        background: $opacity_color;
        border-radius: $space_size_s 0 0 $space_size_s;
        display: flex;
        flex-flow: column;
        .beat-left-upper {
            display: flex;
            justify-content: space-between;
            .fav-icon-holder {
                position: relative;
                height: $space_size_xl;
                width: $space_size_xl;
                display: inline-block;
                padding: 0 $space_size_s;
                margin: $space_size_s;
                background: $white_color;
                border-radius: $space_size_xl;
                .fav-icon {
                    position: absolute;
                    top: 4px;
                    left: 3.5px;
                    color: $accent_color;
                    font-size: $font_size_xl;
                }

            }
            .bpm-badge {
                background: $theme_color;
                color: $sub_color;
                border-radius: 0px 0px 0px $space_size_m;
            }
        }
        .play-button {
            // TODO::少し大きくしたいけど優先順位低い
            display: inline-block;
            background-color: $theme_color;
            width: 55px;
            height: 55px;
            border-radius: 28px;
            position: relative;
            top: -3%;
            left: 22%;
            .play-icon {
                color: $sub_color;
                font-size: $font_size_3l;
                position: absolute;
                top: 27%;
                left: 33%;
            }
        }       

        .beat-left-lower {
            display: flex;
            justify-content: space-between;
            .custom-beat-badge {
                color: $white_color;
                background: $sub_color;
                border-radius: 0 $space_size_m;
            }
            .play-time-badge {
                background: $theme-color;
                color: $sub_color;
                border-radius: $space_size_m 0 0 0;
            }
        }
    }

    .beat-right-side {
        width: 100%;
        display: flex;
        flex-flow: column;
        position: relative;
        margin: 0 0 0 $space_size_s;
        .beat-right-upper {
            display: flex;
            justify-content: space-between;
            .beat-title {
                color: $theme_color;
                font-weight: bold;
                font-size: $font_size_xl;
                margin-bottom: $space_size_s;
            }
        }
        .hash-tag-badge {
            padding: $space_size_s;
            border-radius: $space_size_s;
            font-size: $font_size_m;
            font-weight: bold;
            background: $theme_color;
            color: $sub_color;
        }
        .user-icon-frame {
            position: absolute;
            right: 0;
            top: 0;
            width: $space_size_xl;
            height: $space_size_xl;
            border-radius: $space_size_xl;
            background: $inactive_color;
            margin: $space_size_s;
            box-shadow: 0px 0px 2px 0px $opacity_color inset;
        }
        .beat-context {
            margin: $space_size_s $space_size_s 0 0;
            color: $black_color;
            font-size: $font_size_s;
        }
        .baet-right-lower {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;
                .price-badge {
                color: $white_color;
                background: $accent_color;
                border-radius: $space_size_m 0 $space_size_m 0;
            }    
        }
    }
}
.pagination-holder {
    display: flex;
    justify-content: center;
    margin: $space_size_xl 0 $space_size_m;
    .pagination-item {
        height: $space_size_3l;
        width: $space_size_3l;
        border-radius: $space_size_m;
        background: $theme_color;
        margin-right: $space_size_m;
        position: relative;

        &:last-child {
            margin-right: 0;
        }
        &-active {
            background: $sub_color;
        }
        .pagination-text {
            font-size: $font_size_xxl;
            color: $white_color;
            position: absolute;
            top: 14%;
            left: 34%;
        }
    }
}

.search-button-holder {
    position: absolute;
    background: $sub_color;
    width: 50px;
    height: 50px;
    bottom: -$space_size_l;
    border-radius: $space_size_3l;
    .search-icon {
        position: absolute;
        left: 20%;
        top: 20%;
        color: $white_color;
        font-size: $font_size_3l;
    }
}

.footer {
    margin-top: auto;
    background: $theme_color;
    color: $white_color;
    text-align: center;
    font-size: $space_size_m;
    padding: $space_size_m;
}


.white-holder{
    background: $white_color;
    border-radius: $space_size_m;
    box-sizing: border-box;
    padding: $space_size_xl;
    margin-bottom: $space_size_l;
    
    .user-icon-holder {
        width: $size_3l;
        height: $size_3l;
        border-radius: $size_3l;
        background: $opacity_color;
        box-shadow: 0px 0px 2px 0px $opacity_color inset;
    }
    .user-info {
        width: $size_5l;
        flex-flow: column;
        .user-name {
            font-size: $font_size_xxl;
            font-weight: bold;
            margin-bottom: $space_size_s;
        }
        .user-bio {
            font-size: $font_size_l;
        }
    }

    .form-header {
        margin-top: $space_size_l;
        text-align: right;
        &-link {
            font-size: $font_size_l;
            font-weight: bold;
        }
    }
    .form-title { 
        text-align: center;
        margin-top: $space_size_l;
        &-text {
            display: inline-block;
            margin: $space_size_s auto;
            padding: $space_size_m $space_size_l;
            border-radius: $space_size_m;
            color: $white_color;
            background: $theme_color;
            font-size: $font_size_xxl;
            font-weight: bold;
        }
    }
    .input{
        &-half {
            width: $persent_half;
            .input-form {
                width: 90%;
            }
        }
        &-holder {
            display: flex;
            flex-direction: column;
            margin-top: $space_size_l;
        }
        &-label {
            display: inline-block;
            font-size: $font_size_xxl;
            font-weight: bold;
            margin-bottom: $space_size_s;
        }
        &-label-holder {
            text-align: center;
        }
        &-form {
            width: $persent_full;
            padding: $space_size_s;
            border-radius: $space_size_m;
            border: 2px solid $theme_color;
            font-size: $font_size_xxl;
            &-error {
                border-color: $accent_color;
            }
            &-disabled {
                background: $opacity_color;
            }
        }
        &-required {
            .input-label {
                color: $sub_color;
            }
            .input-form {
                border: 2px solid $sub_color;
            }
        }
        // 下記サイトをベタガキ
        // https://qiita.com/pe-ta/items/74822fd9fce24848d97e
        // TODO::チェックしたらペケマークを入れたい。
        &-checkbox {
            appearance: none;
            outline: none;
            display: block;
            position: relative;
            text-align: center;
            cursor: pointer;
            width: $space_size_xl;
            height: $space_size_xl;
            &:before {
                display: block;
                position: absolute;
                content: '';
                width: $space_size_xl;
                height: $space_size_xl;
                border: 2px solid $sub_color;
                border-radius: $space_size_m;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;

                width: $space_size_xl;
                height: $space_size_xl;

                // チェックしてないときは隠す
                opacity: 0;
            }
            &:checked::after {
                opacity: 1;
                
                width: $space_size_l;
                bottom: $space_size_m;
                left: $space_size_s;
                border-right: 3px solid $sub_color;
                border-bottom: 3px solid $sub_color;
                transform: rotate(45deg);

            }
        }
        &-radio-holder {
            display: flex;
        }
        &-radio-label {
            margin-right: $space_size_l;
            display: flex;
        }
        &-radio {
            -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
            position: relative;
            margin-right: $space_size_s;
            width: $font_size_3l;
            height: $font_size_3l;
            border: 2px solid $sub_color;
            border-radius: $persent_half;
            vertical-align: -2px;
            &:checked:before {
                position: absolute;
                top: $persent_half;
                left: $persent_half;
                transform: translate(-$persent_half, -$persent_half);
                width: $font_size_xxl;
                height: $font_size_xxl;
                border-radius: $persent_half;
                background: $sub_color;
                content: '';
              }
        }
    
        &-icon-form {
            width: $size_3l;
            height: $size_3l;
            border-radius: $size_3l;
            margin: 0 auto;
            background: $opacity_color;
            box-shadow: 0px 0px 2px 0px $opacity_color inset;
        }
        &-error-message {
            display: inline-block;
            color: $accent_color;
            font-weight: bold;
            font-size: $font_size_l;
        }
    }
    .button-holder {
        display: flex;
        justify-content: space-between;
        margin: $space_size_l 0;
        align-items: flex-end;
        .button:last-child {
            margin-left: auto;
        }
    }
    .checkbox-holder {
        display: flex;
    }
    .strong-text {
        font-weight: bold;
        font-size: $font_size_xl;
    }
    .annotation-text {
        margin-left: $space_size_s;
        font-size: $font_size_l;
    }
}


.switch-holder {
    display: flex;
    position: relative;
    .toggle-switch {
        display: flex;
        background: $theme_color;
        padding: $space_size_s;
        border-radius: $space_size_xl;
        text-align: center;
        color: $white_color;
        font-size: $font_size_xxl;
        margin: 0 auto;
        &-item {
            display: block;
            padding: $space_size_s;
            box-sizing: border-box;
            border-radius: $space_size_xl;
            width: $size_3l;
            font-weight: bold;
            box-sizing: border-box;
            &.active {
                background: $sub_color;
            }
        }
    }
    .back-link {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.beat-detail{
    .beat-main-image {
        margin-top: $space_size_l;
        width: $size_6l;
        height: $size_6l;
        border-radius: $space_size_m;
        background: $opacity_color;
        margin: $space_size_xl auto $space_size_m;
    }
    .beat-title {
        text-align: center;
        color: $theme_color;
        font-size: $font_size_3l;
        font-weight: bold;
    }
    .beat-length {
        height: $space_size_xl;
        background: $theme_color;
        display: flex;
        position: relative;
        width: $size_6l;
        margin: $space_size_m auto;
        .play-done {
            height: 100%;
            width: $size_3l;
            background: $sub_color;
        }
        .play-now {
            position: absolute;
            top: -$space_size_m;
            border: 2px solid $sub_color;
            border-radius: $space_size_s;
            height: $space_size_3l;
            box-sizing: border-box;
            background: $accent_color;
            width: $space_size_m;
            margin-left: $size_3l;
        }
    }
    .beat-operation-button-holder {
        width: $size_6l;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
        .operation-button {
            position: relative;
            background: $theme_color;
            border-radius: $size_xxl;
            width: $size_xxl;
            height: $size_xxl;
            &-big {
                width: $size_3l;
                height: $size_3l;
            }
            &-middle {
                top: $space_size_l;
            }
            &-icon {
                font-size: $font_size_5l;
                font-weight: bold;
                color: $sub_color;
                position: absolute;
                &.big-icon {
                    font-size: $font_size_6l;
                }
            }
            .backward-step-icon {
                left: 30%;
                top: 24%;
            }
            .play-icon {
                left: 33%;
                top: 24%;
            }
            .repeat-icon {
                left: 24%;
                top: 24%;
            }
            .drum-icon {
                left: 19%;
                top: 19%;
            }
            .music-icon {
                left: 20%;
                top: 20%;
            }
            .guitar-icon {
                left: 20%;
                top: 20%;
            }
            .clapping-icon {
                left: 18%;
                top: 18%;
            }
            .mute-icon {
                left: 18%;
                top: 23%;
            }
        }
    }
    .hash-tag-holder {
        width: $size_6l;
        margin: $space_size_l auto $space_size_m;
        display: flex;
        justify-content: space-between;
        .hash-tag-badge {
            padding: $space_size_s;
            border-radius: $space_size_s;
            font-size: $font_size_xl;
            font-weight: bold;
            background: $theme_color;
            color: $sub_color;
        }
    }
    .beat-context {
        color: $black_color;
        font-size: $font_size_xxl;
        width: $size_6l;
        margin: 0 auto;
    }
    .bottom-button-holder {
        width: $size_6l;
        margin: $space_size_m auto;
        .download-button {
            width: $persent_full;
            padding: $space_size_m;
            border-radius: $space_size_m;
            color: $white_color;
            font-size: $font_size_xxl;
            font-weight: bold;
            background: $sub_color;
            box-shadow: 1px 1px 2px 1px $opacity_color;    
        }
    }
    .custom-track-holder {
        width: $size_6l;
        margin: $space_size_xl auto 0;
        position: relative;
        &-culomn {
            display: flex;
        }
        &:last-child{
            justify-content: center;
        }
    }
}